body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Sytling for the header including navigation */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 59px;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
}

header img {
  height: 50px;
  margin-left: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

nav span {
  text-decoration: underline;
  padding: 10px;
}

/* Styling for Mission Statement secion */

.mission {
  background-image: url("../Images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  display: flex;
  align-items: center;
  margin: auto;
  top: 69px;
}

.mission_text {
  background-color: black;
  text-align: center;
  width: 100%;
}

/* Styling for the Teas of the Month Section */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
}

.content h4 {
  margin-top: 5px;
}

.teas {
  display: flex;
  justify-content: center;
}

.teabox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 15px;
}

.teabox img {
  width: 300px;
  height: 200px;
}

.teabox h4 {
  margin-top: 10px;
}

/* Styling for the Locations section */

.location {
  display: flex;
  flex-direction: column;
  background-image: url("../Images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.location h2 {
  margin-bottom: 15px;
}

.addresses {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.addresses .box {
  width: 300px;
  background-color: black;
  margin: 15px 20px;
  opacity: 1;
}
